<h2>{{client.name}}</h2>
<table class='header-on-left'>
  <tbody>
    <tr>
      <th>
        E-mail
      </th>
      <td>
        <a href='mailto:{{client.id}}' target='_blank'>{{client.mail}}</a>
      </td>
    </tr>
    <tr>
      <th>
        Name
      </th>
      <td>
        {{client.name}}
      </td>
    </tr>
    <tr>
      <th>
        Date of next contact
      </th>
      <td>
        {{client.nextContactAt}}
      </td>
    </tr>
    {{#if client.notes}}
      <tr>
        <th>
          Notes
        </th>
        <td>
          {{client.notes}}
        </td>
      </tr>{{/if}}
  </tbody>
</table>
{{>go-to-clients}}