<h2>You are editing client: {{client.name}} (id: {{client.id}})</h2>

<form method='POST' action='/client/{{client.id}}?_method=PUT'>
  <p>
    <label>
      <p>
        E-mail:
      </p>
      <p>
        <input type='email' name='mail' value="{{client.mail}}"/></p>
    </label>
    <label>
      <p>
        Name:
      </p>
      <p>
        <input type='text' name='name' value="{{client.name}}"/></p>
    </label>
    <label>
      <p>
        Date next contact:
      </p>
      <p>
        <input type='date' name='nextContactAt' value="{{client.nextContactAt}}"/></p>
    </label>
    <label>
      <p>
        Notes:
      </p>
      <p>
        <textarea name='notes'>{{client.notes}}</textarea>
      </p>
    </label>

    <button type='submit'>Submit</button>

  </p>
</form>
{{>go-to-clients}}